*{
  margin: 0;
  padding: 0;
  /* border: solid 1px; */
}
body::-webkit-scrollbar {
  display: none;
}
body{
  background-color: #027353;
}

header{
  height: 100px;
  display: flex;
  justify-content: space-between;
  background-color: #F2E1D8;
  box-shadow: 0 0 10px ;
}
header img{
  background-color: aliceblue;
  
width: 100px;
height: 97px;
}
nav{padding-top: 36px;
  
  margin-top:7px;
  padding-right: 20px;
  
}
nav a{

color:#F05A28;
padding: 10px;
margin-right: 10px;
  text-align: center;
text-decoration: none;
font-weight: 700;

}
header a:hover{
/* background-color:aliceblue; */
color: #03A678;
transition: 1s;
font-size: 25px;
}


h1{ color: #03A678;
    font-size: 200px;
    padding-top: 30px;
    height:80.3px; 
    position: relative;
    left: 32px;
    top: -308px;
    width: 550px;
}
h2{font-size: 30px;
  width: 250px;
  padding-top: 30px;
  /* background-color: aliceblue; */
  height:80.3px; 
  text-align: center;
}
.v img{
    
    width: 200px;
    height: 251px;
    /* position:absolute;
    top: 111px; */
    background-color: aquamarine;
}
.vedio{
   
    width: 250px;
    height: 100px;
}
.content{
    margin: 0px;
}




/* 下拉式選單 */

.dropbtn {
  position: fixed;
  top: 260px;
  left: 1229px;
    width: 54px;
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  
  .dropdown {
    position:relative;
    display: inline-block;
  }
  
  
  .dropdown-content { 
    display: none;
    /* position:absolute; */
    position: fixed;
    top:330px;
    left: 1121px;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
 
  .dropdown-content a {
   
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  

  .dropdown-content a:hover {background-color: #f1f1f1}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  
  .dropdown:hover .dropbtn {
    background-color: #3e8e41;
     /* position: fixed;
    top:150px; */
  
  }
.page-size{
  width: 1000px;
  position: relative;
  left: 100px;
}
p{
  color: #F2E1D8 ;
}
h2{position: relative;
  left: 10px;
  color: #F05A28;
  margin: 0;
}
.l{
  color: #F05A28;
  font-size: 30px;
  font-weight: 600;
  position: relative;
  left: 545px;
}
.box{
  display: flex;
  justify-content:space-between;
}
.boxs-1{
  padding:10px;
  background-color: #03A678;
  border-radius: 20px;
  box-shadow: inset 0 0 0 0;
}

